<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanlong.exercise">

    <!-- 百度地图需求权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 蒙版效果需要-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 百度地图API KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vzL8atCFg6MZmG4R8jTTwoiSnPABGYkU"
            />

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="keyboard"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.view.ViewCategoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <!-- 自定义View相关-->
        <activity
            android:name=".ui.activity.view.customview.CustomViewCategoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customview.CustomTitleViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customview.CustomImageViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customview.CustomCircleViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customview.CustomVolumeBarActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customview.CustomArcShowActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customview.ScheduleChartActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />

        <!-- 自定义ViewGroup相关-->
        <activity
            android:name=".ui.activity.view.customviewgroup.CustomViewGroupCategoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customviewgroup.VerticalLinearLayoutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customviewgroup.ViewDragHelperActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customviewgroup.LeftDrawerLayoutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.customviewgroup.GestureLockActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />

        <!-- ListView相关-->
        <activity
            android:name=".ui.activity.view.listview.ListViewCategoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.listview.SwipeRefreshListViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.listview.LoadMoreListViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.listview.SwipeRefreshLoadMoreListViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />

        <!-- View效果相关-->
        <activity
            android:name=".ui.activity.view.vieweffect.ViewEffectCategory"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.vieweffect.MaskEffectActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.vieweffect.ShadowBackgroundActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />

        <!-- Fragment练习相关 -->
        <activity
            android:name=".ui.activity.view.fragment.FragmentCategoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.fragment.DialogFragmentActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.fragment.datatransfer.ListArticleActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.fragment.datatransfer.ArticleContentActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.view.fragment.dataload.LoadDataActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <!-- ViewPager练习相关 -->
        <activity android:name=".ui.activity.view.viewpager.ViewPagerCategoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.viewpager.ViewPagerWelcomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.viewpager.ViewPagerRealUnlimitedScrollActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.viewpager.ViewPagerFakeUnlimitedScrollActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.viewpager.ViewPagerTabLayoutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.viewpager.ViewPagerFragmentPagerAdapterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.viewpager.ViewPagerFragmentPagerNotifyAdapterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.viewpager.ViewPagerFragmentStatePagerAdapterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <!-- RecyclerView练习相关-->
        <activity android:name=".ui.activity.view.recyclerview.RecyclerViewCategoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.recyclerview.RecyclerViewBaseUseActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.recyclerview.RecyclerViewItemDecorationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.recyclerview.RecyclerViewStaggeredActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.recyclerview.RecyclerViewMultiItemActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.recyclerview.RecyclerViewRefreshActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity android:name=".ui.activity.view.recyclerview.RecyclerViewSectionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />

        <!-- 百度地图相关 -->
        <activity
            android:name=".ui.activity.map.MapCategoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.map.basemap.BaseMapActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
        <activity
            android:name=".ui.activity.map.basemap.RoutePlanActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboard"
            />
    </application>

</manifest>